body {
    font-family: 'Arial'
}

.flex {
    flex: 1;
}

.link-back {
    color: #005a99;
    font-weight: bold;
    padding: 0 10px 20px 10px;
    display: inline-block;
}

.site-title {
    padding: 10px;
}

.solutions-title {
    color: #95c22f;
    font-weight: bold;
    display: block;
    font-size: 20px;
    text-align: right;
    float: right;
    clear: both;
    margin-top: -30px;
}

a.solutions-title:hover, a.solutions-title:visited, a.solutions-title:active {
    color: #95c22f;
    text-decoration: none;
}

.solutions {
    display: flex;
    flex-direction: column;
}

.solution {
    padding: 0;
    min-height: 250px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
 }

a.solution {
    box-shadow: 0px 0px 30px #e1e1e3;
    min-width: 300px;
    color: black;
    cursor: pointer;
    margin-bottom: 20px;
}

a.solution:visited {
    color: black;
}

a.solution:hover {
    text-decoration: none;
}

.solution h2 {
    font-family: "monospace";
    color: #95c22f;
    background: #212123;
    padding: 5px 10px;
    margin: 20px 0 0 -20px;
}

.solution .description {
    margin: 0;
    padding: 5px 10px 0px 10px;
    background: white;
    align-self: stretch;
}

.solution .cite {
    margin: 0;
    padding: 0px 10px 0 10px;
    background: white;
    align-self: stretch;
}

.solution-details, .parameters {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.solution-details > div, .parameters > div {
    display: flex;
    margin: 5px;
}

.solution-details .left {
    width: 200px;
    font-family: 'monospace';
    font-size: 90%;
    font-weight: bold;
    color: #a1a1a3;
    padding: 5px;
}


.parameters .left {
    width: 200px;
    font-family: 'monospace';
    padding: 5px;
}

.solution-details .right, .parameters .right {
    flex: 1;
    padding: 5px;
}

.solution-details .description, .cover-description {
    font-style: italic;
}

.post-content h2 {
    font-size: 24px;
}

@media only screen and (max-width: 650px) {
    .solutions-title {
        float: none;
    }

    .solution-details > div, .parameters > div {
        flex-direction: column;
    }
}