---
layout: default
---
<a class="link-back" href="{{ site.baseurl }}">← Back to solutions</a>
<div class="solution" style="background-image: url('{{ page.covers[0].source | relative_url }}')">
    <h2>{{ page.name }}</h2>
    <div class="flex"></div>
</div>
<div class="cover-description">{{ page.covers[0].description | markdownify}}</div>
<div class="solution-details">
    <div><div class="left">Description</div><div class="right">{{ page.description | markdownify }}</div></div>
    <div><div class="left">Method citation</div><div class="right">{{ page.cite | markdownify }}</div></div>
    <div><div class="left">Solution DOI</div><div class="right">{{ page.doi | markdownify }} (created by {{ page.authors }})</div></div>
    <div><div class="left">Source</div><div class="right"><a href="{{page.git_repo}}">{{page.git_repo}}</a></div></div>
    <div><div class="left">License</div><div class="right">{{page.license}}</div></div>
    <div><div class="left">Tags</div><div class="right">
        {% for tag in page.tags %}
        {{tag}}
        {% endfor %}
    </div></div>
    <div><div class="left">Timestamp</div><div class="right">{{page.timestamp}}</div></div>
    <div><div class="left">Version</div><div class="right">{{page.version}}</div></div>
    <div><div class="left">HIPS version min</div><div class="right">{{page.min_hips_version}}</div></div>
    <div><div class="left">HIPS version tested</div><div class="right">{{page.tested_hips_version}}</div></div>
    <div><div class="left">Sample inputs</div><div class="right">
        {% for input in page.sample_inputs %}
        <a href="{{ input.source | relative_url }}">{{ input.source | split: '/' | last }}</a>
        <div class="description">{{ input.description | markdownify }}</div>
        {% endfor %}
    </div></div>
    <div><div class="left">Sample outputs</div><div class="right">
        {% for output in page.sample_outputs %}
        <a href="{{ output.source | relative_url }}">{{ output.source | split: '/' | last }}</a>
        <div class="description">{{ output.description | markdownify }}</div>
        {% endfor %}</div></div>
</div>
<h2>Usage</h2>
<pre>
  <code>
hips run examples/{{page.name | replace: '-', '_'}}.py
  </code>
</pre>
<h3>Parameters</h3>
<div class="parameters">
{% for arg in page.args %}
<div><div class="left">--{{arg.name}}</div><div class="right">{{arg.description}}</div></div>
{% endfor %}
</div>
